:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --header-font: "Cinzel", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;

  --description-font: "Marcellus", "Franklin Gothic Medium", "Arial Narrow",
    Arial, sans-serif;

  /* Version #1 */
  --primary-v1: #a6362c;
  --secondary-v1: #6e7f4e;
  --sub-primary-v1: #6c3b2a;
  --sub-secondary-v1: #fdf7f2;
  --third-v1: #333333;

}
body {
  margin: 0.2rem;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: var(--sub-secondary-v1);
  color: var(--third-v1);
}
button{
  cursor: pointer;
}
button:hover{
  opacity: 0.8;
}
button:active{
  opacity: 0.6;
}

button.primary {
  background-color: var(--secondary-v1);
  color: var(--sub-secondary-v1);
  border: 1px solid var(--secondary-v1);
  font-family: "Cinzel", Arial, sans-serif;
}
button.secondary {
  background-color: var(--sub-secondary-v1);
  color: var(--secondary-v1);
  border: 3px solid var(--secondary-v1);
  border-radius: 0px;
  font-family: "Roboto";
}
button.critical {
  background: var(--primary-v1);
  color: var(--sub-secondary-v1);
  border: 1px solid var(--third-v1);
  font-family: "Roboto";
}
button.nutral {
  background-color: var(--sub-secondary-v1);
  color: var(--third-v1);
  border: 1px solid var(--third-v1);
  font-family: "Roboto";
}
